{% extends '/components/_base.html' %}
{% import '/components/_identification_macro.html' as tt %}
{% block title %}Trademarket Listings{% endblock %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100">

            <!-- Filter Sidebar -->
            <div id="filter-sidebar"
                 class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 sidebar d-flex order-1 order-lg-2">
                <form method="get"
                      action="{{ url_for('web.trademarket_listings') }}"
                      class="d-flex flex-column flex-grow-1 align-items-center align-items-sm-start px-3 pt-4 w-100">

                    <!-- Search by name -->
                    <div class="w-100 mb-3">
                        <label for="search" class="form-label">Search Name</label>
                        <input type="text"
                               id="search"
                               name="search"
                               value="{{ request.args.get('search', '') }}"
                               class="form-control"
                               placeholder="Enter item name">
                    </div>

                    <!-- Filter by type -->
                    <div class="w-100 mb-3">
                        <label for="itemType" class="form-label">Type</label>
                        <select id="itemType"
                                name="itemType"
                                class="form-select">
                            <option value="" {% if not request.args.get('itemType') %}selected{% endif %}>All</option>
                            <option value="GearItem"
                                    {% if request.args.get('itemType')=='GearItem' %}selected{% endif %}>Gear
                            </option>
                            <option value="MaterialItem"
                                    {% if request.args.get('itemType')=='MaterialItem' %}selected{% endif %}>Material
                            </option>
                            <option value="IngredientItem"
                                    {% if request.args.get('itemType')=='IngredientItem' %}selected{% endif %}>
                                Ingredient
                            </option>
                        </select>
                    </div>
                    <div class="w-100 mb-3">
                        <label for="rarity" class="form-label">Rarity</label>
                        <select id="rarity"
                                name="rarity"
                                class="form-select">
                            <option value="" {% if not request.args.get('rarity') %}selected{% endif %}>All</option>
                            <option value="mythic"
                                    {% if request.args.get('rarity')=='mythic' %}selected{% endif %}>Mythic
                            </option>
                            <option value="fabled"
                                    {% if request.args.get('rarity')=='fabled' %}selected{% endif %}>Fabled
                            </option>
                            <option value="legendary"
                                    {% if request.args.get('rarity')=='legendary' %}selected{% endif %}>Legendary
                            </option>
                            <option value="rare"
                                    {% if request.args.get('rarity')=='rare' %}selected{% endif %}>Rare
                            </option>
                            <option value="unique"
                                    {% if request.args.get('rarity')=='unique' %}selected{% endif %}>Unique
                            </option>
                            <option value="normal"
                                    {% if request.args.get('rarity')=='normal' %}selected{% endif %}>Normal
                            </option>
                        </select>
                    </div>

                    <!-- Shiny dropdown -->
                    <div class="w-100 mb-3">
                        <label for="shiny" class="form-label">Shiny</label>
                        <select id="shiny"
                                name="shiny"
                                class="form-select">
                            <option value="" {% if not request.args.get('shiny') %}selected{% endif %}>Both</option>
                            <option value="true" {% if request.args.get('shiny')=='true' %}selected{% endif %}>Yes
                            </option>
                            <option value="false" {% if request.args.get('shiny')=='false' %}selected{% endif %}>No
                            </option>
                        </select>
                    </div>

                    <div class="w-100 mb-3">
                        <label for="unidentified" class="form-label">Unidentified</label>
                        <select id="unidentified"
                                name="unidentified"
                                class="form-select">
                            <option value="" {% if not request.args.get('unidentified') %}selected{% endif %}>Both
                            </option>
                            <option value="true" {% if request.args.get('unidentified')=='true' %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="false" {% if request.args.get('unidentified')=='false' %}selected{% endif %}>
                                No
                            </option>
                        </select>
                    </div>

                    <!-- Tier dropdown -->
                    <div class="w-100 mb-3">
                        <label for="tier" class="form-label">Tier</label>
                        <select id="tier"
                                name="tier"
                                class="form-select">
                            <option value="" {% if not request.args.get('tier') %}selected{% endif %}>All</option>
                            <option value="1" {% if request.args.get('tier')=='1' %}selected{% endif %}>1</option>
                            <option value="2" {% if request.args.get('tier')=='2' %}selected{% endif %}>2</option>
                            <option value="3" {% if request.args.get('tier')=='3' %}selected{% endif %}>3</option>
                        </select>
                    </div>

                    <!-- Page size -->
                    <div class="w-100 mb-3">
                        <label for="page_size" class="form-label">Page Size</label>
                        <select id="page_size"
                                name="page_size"
                                class="form-select">
                            <option value="10" {% if page_size == 10 %}selected{% endif %}>10</option>
                            <option value="25" {% if page_size == 25 %}selected{% endif %}>25</option>
                            <option value="50" {% if page_size == 50 %}selected{% endif %}>50</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-3">
                        Apply Filters
                    </button>
                </form>
            </div>

            <button onclick="removeClass()" id="collapse-button" class="btn btn-outline-secondary mb-3">></button>

            <!-- Listings -->
            <div id="items-container" class="col order-2 order-lg-1 px-4">
                <h1 class="py-2">Trademarket Listings</h1>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                    {% for item in items %}
                        <div class="col item-stats-tooltip {{ item.rarity or 'Normal' }} items-handle">
                            <div class="item-card d-flex flex-column h-100">

                                <!-- Header -->
                                <div class="item-header d-flex justify-content-center align-items-center">
                                    {% if item.icon_url %}
                                        <img src="{{ item.icon_url }}" alt="{{ item.name }} icon" class="item-icon">
                                    {% else %}
                                        <span class="sprite bg-{{ item.type|lower }}" style="
                                                display: inline-block;
                                                width: 32px;
                                                height: 32px;
                                                object-fit: contain;
                                                object-position: center;
                                                flex-shrink: 0;
                                                margin-right: 10px;
                                              "></span>
                                    {% endif %}

                                    <h5 class="mb-0 {{ item.rarity or '' }}">
                                        {% if item.unidentified %}
                                            Unidentified
                                        {% endif %}
                                        {% if item.shiny_stat %}
                                            <span class="sprite bg-shiny"
                                                  style="
                                                    display: inline-block;
                                                    width: 32px;
                                                    height: 32px;
                                                    transform: scale(0.6);
                                                    transform-origin: 0 0;
                                                    -webkit-transform-origin-y: bottom
                                                  "
                                            ></span>Shiny
                                        {% endif %}
                                        {{ item.name }}
                                        {% if item.overall_roll %}
                                            [{{ '%.1f' % item.overall_roll }}%]
                                        {% endif %}
                                        {% if item.item_type in TIERED_TYPES %}
                                            {{ item.tier }}
                                        {% endif %}
                                    </h5>
                                </div>
                                {% if item.shiny_stat %}
                                    <div class="item-infobox item-text">
                                        Shiny Stat<br/>
                                        <strong>{{ item.shiny_stat.statType.displayName }}
                                            - {{ item.shiny_stat.value }}</strong>
                                    </div>
                                {% endif %}
                                {#

                                #}
                                {# ─── Top area: *fixed* stats only ────────────────── #}{#

                                {% if item.fixed_identifications %}
                                    <div class="item-infobox item-text">
                                        {% for roll in item.fixed_identifications %}
                                            {{ tt.id_line(roll) }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
#}

                                {# ─── Bottom area: all rollable stats (RAW + PERCENT) #}
                                {% if item.rolled_identifications %}
                                    <div class="item-infobox item-text">
                                        {% for roll in item.rolled_identifications %}
                                            {{ tt.id_line(roll) }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="item-infobox item-text">
                                    Amount<br/>
                                    <strong>{{ item.amount }}</strong>
                                </div>
                                <div class="item-infobox item-text">
                                    Price<br/>
                                    <strong>{{ item.listing_price|emerald_format }}</strong>
                                    {# 1) Compute “ratio” based on whether it’s unidentified or not #}
                                    {% if item.unidentified and item.price_averages.unidentified_average_mid_80_percent_price %}
                                        {% set ratio = item.listing_price / item.price_averages.unidentified_average_mid_80_percent_price %}
                                    {% elif item.price_averages.average_mid_80_percent_price %}
                                        {% set ratio = item.listing_price / item.price_averages.average_mid_80_percent_price %}
                                    {% endif %}

                                    {% if ratio %}
                                        {# 2) Compute the percentage and choose color #}
                                        {% set pct = (ratio * 100) | round(1) %}
                                        <small>
                                            (<span
                                                style="color: {% if ratio > 1 %}#F85252{% elif ratio < 1 %}#56FE56{% endif %}">{{ pct }}%</span>
                                            of avg)
                                        </small>
                                    {% endif %}
                                </div>
                                {% if item.timestamp %}
                                    <div class="mt-auto">
                                    <footer class="item-footer mt-2 w-100 text-center">
                                        <small class="text-muted">
                                            Recorded {{ ("%s"|format(item.timestamp))|last_updated }} ago
                                        </small>
                                    </footer>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 text-center text-gray-500 py-8">
                            No listings found.
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="flex items-center justify-between mt-4">
                    {% set last_page = (total // page_size) + (1 if total % page_size else 0) %}
                    <div>Page {{ page }} of {{ last_page }}</div>
                    <div>
                        {% if page > 1 %}
                            <a href="{{ url_for('web.trademarket_listings',
                                item_name=item_name,
                                page=page - 1,
                                page_size=page_size,
                                search=request.args.get('search'),
                                itemType=request.args.get('itemType')) }}"
                               class="px-3 py-1 bg-gray-200 rounded">‹ Prev</a>
                        {% endif %}
                        {% if page < last_page %}
                            <a href="{{ url_for('web.trademarket_listings',
                                item_name=item_name,
                                page=page + 1,
                                page_size=page_size,
                                search=request.args.get('search'),
                                itemType=request.args.get('itemType')) }}"
                               class="px-3 py-1 bg-gray-200 rounded">Next ›</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
