{% extends 'components/_base.html' %}
{% block title %}Items{% endblock %}
{% block content %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Filter navbar -->
        <div id="filter-sidebar"
            class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 sidebar d-flex sticky-top order-1 order-lg-2">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-4">
                <div class="w-100 mb-3">
                    <label for="search-query" class="form-label">Search Query</label>
                    <input type="text" id="search-query" class="form-control" placeholder="Enter item name">
                    <button class="btn btn-primary w-100 mt-3" onclick="submitSearch()">Search</button>
                </div>

                <div class="w-100">
                    <div class="toggle-container form-label" data-bs-toggle="collapse" data-bs-target="#toggleContent"
                        aria-expanded="false" aria-controls="toggleContent">
                        <span>Type</span>
                        <span class="arrow">▼</span>
                    </div>
                    <div class="collapse" id="toggleContent">
                        <div class="mt-2">
                            <button class="btn btn-outline-secondary my-1"
                                onclick="toggleFilter(this, 'weapons')">Weapons</button>
                            <button class="btn btn-outline-secondary my-1"
                                onclick="toggleFilter(this, 'helmet, chestplate, leggings, boots')">Armor</button>
                            <button class="btn btn-outline-secondary my-1"
                                onclick="toggleFilter(this, 'necklace, bracelet, ring')">Accessories</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button id="collapse-button" class="btn btn-outline-secondary mb-3">></button>

        <!-- Display items area -->
        <div id="items-container" class="col-12 col-lg-9 order-2 order-lg-1">
            <h1>Wynncraft Items</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                <!-- Items will be inserted here -->
            </div>
        </div>
    </div>
</div>

<script>
    const toggleContainer = document.querySelector('.toggle-container');
    const arrow = document.querySelector('.arrow');
    const selectedFilters = [];


    // Toggle filter button and update selected filters
    function toggleFilter(button, filterTypes) {
        const filters = filterTypes.split(',').map(filter => filter.trim());
        const isActive = button.classList.toggle('active');

        filters.forEach(filter => {
            if (isActive) {
                if (!selectedFilters.includes(filter)) {
                    selectedFilters.push(filter);
                }
            } else {
                const index = selectedFilters.indexOf(filter);
                if (index > -1) {
                    selectedFilters.splice(index, 1);
                }
            }
        });
    }

    // Submit search query to the server
    function submitSearch() {
        const query = document.getElementById('search-query').value;
        const payload = {
            query: query,
            type: selectedFilters.length > 0 ? selectedFilters : ['weapons', 'helmet', 'chestplate', 'leggings', 'boots', 'necklace', 'bracelet', 'ring'],
            tier: [],
            attackSpeed: [],
            levelRange: [0, 110],
            professions: [],
            identifications: [],
            majorIds: []
        };
        fetchItems(payload);
    }

    // Fetch items from the server
    async function fetchItems(payload) {
        const response = await fetch('/api/items', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });
        if (response.ok) {
            const data = await response.json();
            displayItems(data.items);
        } else {
            console.error('Failed to fetch items');
        }
    }

    // Display items inside the items-container
    function displayItems(items) {
        const container = document.getElementById('items-container').querySelector('.row');
        container.innerHTML = ''; // Clear previous items

        items.forEach(itemStats => {
            const { base, identifications, requirements, powder_slots, rarity, item_type, attack_speed, class_req, name } = itemStats;
            let requirementsHTML = '';
            if (item_type === 'weapon') {
                requirementsHTML = `<div>Class Req: ${class_req}<br>Combat Lv. Min: ${requirements.Level}<br>`;
                for (const [key, value] of Object.entries(requirements)) {
                    if (key !== 'Level') {
                        requirementsHTML += `${key} Min: ${value}<br>`;
                    }
                }
                requirementsHTML += '</div>';
            } else {
                requirementsHTML = `<div>Combat Lv. Min: ${requirements.Level}<br>`;
                for (const [key, value] of Object.entries(requirements)) {
                    if (key === 'class_req') {
                        requirementsHTML += `Class Req: ${value}<br>`;
                    } else if (key !== 'Level') {
                        requirementsHTML += `${key} Min: ${value}<br>`;
                    }
                }
                requirementsHTML += '</div>';
            }

            let rawIdentificationsHTML = '';
            let otherIdentificationsHTML = '';

            for (const [key, value] of Object.entries(identifications)) {
                const minValue = value.min_value !== undefined ? value.min_value : value;
                const maxValue = value.max_value !== undefined ? value.max_value_readable : value;
                const rawValue = value.raw !== undefined ? value.raw_readable : value;
                const colorClass = value.raw >= 0 ? 'positive' : 'negative';
                const toColorClass = value.raw >= 0 ? 'positive-to' : 'negative-to';

                const identificationHTML = minValue !== null && maxValue !== null
                    ? `
                    <span class="${colorClass}">${minValue}</span>
                    <span class="${toColorClass}"> to </span>
                    <span class="${colorClass}">${maxValue}</span>
                    <span class="stat-name"> ${value.readable_name}</span><br>
                `
                    : `
                    <span class="${colorClass}">${rawValue}</span>
                    <span class="stat-name"> ${value.readable_name}</span><br>
                `;

                if (key.startsWith('raw')) {
                    rawIdentificationsHTML += identificationHTML;
                } else {
                    otherIdentificationsHTML += identificationHTML;
                }
            }

            const itemCardHTML = `
            <div class="col item-stats-tooltip ${rarity}">
                <div class="item-card">
                    <div class="item-header">
                        <h5 class="${rarity}">${name}</h5>
                        ${item_type === 'weapon' ? `<span class="attack-speed item-text">${attack_speed} Attack Speed</span>` : ''}
                    </div>
                    <div class="item-infobox defence item-text">
                        ${item_type === 'weapon' ? `
                            ${base.damage ? `<span class="item-text neutral"><span>Neutral</span> Damage: </span><span class="${base.damage >= 0 ? 'positive' : 'negative'}">${base.damage.min}-${base.damage.max}</span><br>` : ''}
                            ${base.air_damage ? `<span class="item-text air"><span>Air</span> Damage: </span><span class="${base.air_damage >= 0 ? 'positive' : 'negative'}">${base.air_damage.min}-${base.air_damage.max}</span><br>` : ''}
                            ${base.earth_damage ? `<span class="item-text earth"><span>Earth</span> Damage: </span><span class="${base.earth_damage >= 0 ? 'positive' : 'negative'}">${base.earth_damage.min}-${base.earth_damage.max}</span><br>` : ''}
                            ${base.fire_damage ? `<span class="item-text fire"><span>Fire</span> Damage: </span><span class="${base.fire_damage >= 0 ? 'positive' : 'negative'}">${base.fire_damage.min}-${base.fire_damage.max}</span><br>` : ''}
                            ${base.thunder_damage ? `<span class="item-text thunder"><span>Thunder</span> Damage: </span><span class="${base.thunder_damage >= 0 ? 'positive' : 'negative'}">${base.thunder_damage.min}-${base.thunder_damage.max}</span><br>` : ''}
                            ${base.water_damage ? `<span class="item-text water"><span>Water</span> Damage: </span><span class="${base.water_damage >= 0 ? 'positive' : 'negative'}">${base.water_damage.min}-${base.water_damage.max}</span><br>` : ''}
                            <span class="item-text-dark">Average DPS: <span class="item-text">${base.average_dps}</span></span>
                        ` : `
                            ${base.health ? `<span class="item-health">Health: <span class="${base.health >= 0 ? 'positive' : 'negative'}">${base.health} </span></span><br>` : ''}
                            ${base.fire_defence ? `<span class="item-text fire"><span>Fire</span> Defence: </span><span class="item-text ${base.fire_defence >= 0 ? 'positive' : 'negative'}">${base.fire_defence}</span><br>` : ''}
                            ${base.water_defence ? `<span class="item-text water"><span>Water</span> Defence: </span><span class="item-text ${base.water_defence >= 0 ? 'positive' : 'negative'}">${base.water_defence}</span><br>` : ''}
                            ${base.air_defence ? `<span class="item-text air"><span>Air</span> Defence: </span><span class="item-text ${base.air_defence >= 0 ? 'positive' : 'negative'}">${base.air_defence}</span><br>` : ''}
                            ${base.thunder_defence ? `<span class="item-text thunder"><span>Thunder</span> Defence: </span><span class="item-text ${base.thunder_defence >= 0 ? 'positive' : 'negative'}">${base.thunder_defence}</span><br>` : ''}
                            ${base.earth_defence ? `<span class="item-text earth"><span>Earth</span> Defence: </span><span class="item-text ${base.earth_defence >= 0 ? 'positive' : 'negative'}">${base.earth_defence}</span><br>` : ''}
                        `}
                    </div>
                    <div class="item-infobox item-text">
                        ${requirementsHTML}
                    </div>
                    <div class="item-infobox item-text">
                        ${rawIdentificationsHTML}
                    </div>
                    <div class="item-infobox item-text">
                        ${otherIdentificationsHTML}
                    </div>
                    ${item_type === 'accessory' ? `
                    <div class="item-infobox ${rarity}">
                        ${rarity} Item
                    </div>
                    ` : `
                    <div class="item-infobox item-text">
                        [0/${powder_slots}] Powder Slots
                    </div>
                    <div class="${rarity}">
                        ${rarity} Item
                    </div>
                    `}
                </div>
            </div>
        `;

            container.insertAdjacentHTML('beforeend', itemCardHTML);
        });
    }

    document.getElementById('collapse-button').addEventListener('click', function () {
        const filterContainer = document.getElementById('filter-sidebar');
        filterContainer.classList.toggle('collapsed');
        if (filterContainer.classList.contains('collapsed')) {
            this.innerHTML = '<';
        } else {
            this.innerHTML = '>';
        }
        document.getElementById('items-container').classList.toggle('expanded');
    });

    toggleContainer.addEventListener('click', () => {
        arrow.classList.toggle('collapsed');
        arrow.innerHTML = arrow.classList.contains('collapsed') ? '▲' : '▼';
    });
</script>

{% endblock %}