{% extends 'components/_base.html' %}
{% block title %}Lootpool{% endblock %}
{% block content %}

<h1>Wynncraft Lootpool</h1>
<div class="row">
    <h4 id="time"></h4>
</div>
{% for region, details in loot_items.Loot.items() %}
<div class="col-12 col-md-6 col-lg-3 mb-3">
    <div class="card">
        <div class="card-header">
            <h2 class="h5">{{ region }}</h2>
        </div>
        <div class="card-body">
            {% for rarity, items in details.items() %}
            {% if rarity == 'Shiny' %}
            <h3 class="h6"><img src="{{ url_for('static', filename='icons/shiny_icon.webp') }}" />{{ rarity }}</h3>
            <div>
                {% if items.Item in loot_items.Icon %}
                <img src="{{ loot_items.Icon[items.Item] }}" alt="{{ items.Item }}" class="img-fluid shiny" onclick="displayItem(event, '{{items.Item | urlencode }}')">
                {% endif %}
                <span class="{{rarity}}" onclick="displayItem(event, '{{items.Item | urlencode }}')">{{ items.Item }}</span>
                <p><strong>Tracker:</strong> {{ items.Tracker }}</p>
            </div>
            {% else %}
            <h3 class="h6">{{ rarity }}</h3>
            <ul class="list-unstyled">
                {% for item in items %}
                <li class="lootpool-card-item">
                    {% if item in loot_items.Icon %}
                    <img src="{{ loot_items.Icon[item] }}" alt="{{ item }}" class="img-fluid shiny" onclick="displayItem(event, '{{ item | urlencode }}')">
                    {% endif %}
                    <span class="{{rarity}}" onclick="displayItem(event, '{{ item | urlencode }}')">{{ item }}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
<div id="item-stats-tooltip" class="item-stats-tooltip"></div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Lootpool reset time
        function getNextResetTime() {
            const now = new Date();
            const nextFriday = new Date();

            nextFriday.setUTCDate(now.getUTCDate() + ((5 - now.getUTCDay() + 7) % 7));
            nextFriday.setUTCHours(18, 0, 0, 0); // 8 PM UTC

            // If today is Friday and past 8 PM UTC, set to next week
            if (now.getUTCDay() === 5 && now.getUTCHours() >= 20) {
                nextFriday.setUTCDate(nextFriday.getUTCDate() + 7);
            }

            return nextFriday;
        }

        function updateCountdown() {
            const now = new Date();
            const nextResetTime = getNextResetTime();
            const timeDiff = nextResetTime - now;

            const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

            document.getElementById('time').innerHTML = `New items in: ${days}d ${hours}h ${minutes}m ${seconds}s`;

            setTimeout(updateCountdown, 1000);
        }

        updateCountdown();
    });

    function displayItem(event, encodedItemName) {
        const itemName = decodeURIComponent(encodedItemName);
        fetchItemStats(itemName).then(data => {
            if (data) {
                showTooltip(event, data);
            } else {
                console.error('No stats available for this item');
            }
        }).catch(error => {
            console.error('Error fetching item stats:', error);
        });
    }

    async function fetchItemStats(itemName) {
        const response = await fetch(`/api/item/${encodeURIComponent(itemName)}`);
        if (response.ok) {
            const data = await response.json();
            return data;
        } else {
            console.error('Failed to fetch item stats');
            return null;
        }
    }

    function showTooltip(event, itemStats) {
        const tooltip = document.getElementById('item-stats-tooltip');
        const { base, identifications, requirements, powder_slots, rarity, item_type, attack_speed, class_req } = itemStats;
        tooltip.classList.remove('Mythic', 'Fabled', 'Legendary', 'Rare', 'Unique');
        tooltip.classList.add(rarity);

        // Requirements
        let requirementsHTML = '';
        if (item_type === 'weapon') {
            requirementsHTML = `<div>Class Req: ${class_req}<br>Combat Lv. Min: ${requirements.Level}<br>`;
            for (const [key, value] of Object.entries(requirements)) {
                if (key !== 'Level' && key !== 'Classrequirement') {
                    requirementsHTML += `${key} Min: ${value}<br>`;
                }
            }
            requirementsHTML += '</div>';
        } else {
            requirementsHTML = `<div>Combat Lv. Min: ${requirements.Level}<br>`;
            for (const [key, value] of Object.entries(requirements)) {
                if (key === 'class_req') {
                    requirementsHTML += `Class Req: ${value}<br>`;
                } else if (key !== 'Level') {
                    requirementsHTML += `${key} Min: ${value}<br>`;
                } 
            }
            requirementsHTML += '</div>';
        }

        // Identifications
        let rawIdentificationsHTML = '';
        let otherIdentificationsHTML = '';

        for (const [key, value] of Object.entries(identifications)) {
            const minValue = value.min_value !== undefined ? value.min_value : value;
            const maxValue = value.max_value !== undefined ? value.max_value_readable : value;
            const rawValue = value.raw !== undefined ? value.raw_readable : value;
            const colorClass = value.raw >= 0 ? 'positive' : 'negative';
            const toColorClass = value.raw >= 0 ? 'positive-to' : 'negative-to';

            const identificationHTML = minValue !== null && maxValue !== null
                ? `
            <span class="${colorClass}">${minValue}</span>
            <span class="${toColorClass}"> to </span>
            <span class="${colorClass}">${maxValue}</span>
            <span class="stat-name"> ${value.readable_name}</span><br>
        `
                : `
            <span class="${colorClass}">${rawValue}</span>
            <span class="stat-name"> ${value.readable_name}</span><br>
        `;

            if (key.startsWith('raw')) {
                rawIdentificationsHTML += identificationHTML;
            } else {
                otherIdentificationsHTML += identificationHTML;
            }
        }

        // Build item tooltip
        tooltip.innerHTML = `
            <div class="item-header">
                <h5 class="${rarity}">${itemStats.name}</h5>
                ${item_type === 'weapon' ? `<span class="attack-speed item-text">${attack_speed} Attack Speed</span>` : ''}
            </div>
            <div class="item-infobox defence item-text">
                ${item_type === 'weapon' ? `
                    ${base.damage ? `<span class="item-text neutral"><span>Neutral</span> Damage: </span><span class="${base.damage >= 0 ? 'positive' : 'negative'}">${base.base_damage}</span><br>` : ''}
                    ${base.air_damage ? `<span class="item-text air"><span>Air</span> Damage: </span><span class="${base.air_damage >= 0 ? 'positive' : 'negative'}">${base.air_damage}</span><br>` : ''}
                    ${base.earth_damage ? `<span class="item-text earth"><span>Earth</span> Damage: </span><span class="${base.earth_damage >= 0 ? 'positive' : 'negative'}">${base.earth_damage}</span><br>` : ''}
                    ${base.fire_damage ? `<span class="item-text fire"><span>Fire</span> Damage: </span><span class="${base.fire_damage >= 0 ? 'positive' : 'negative'}">${base.fire_damage}</span><br>` : ''}
                    ${base.thunder_damage ? `<span class="item-text thunder"><span>Thunder</span> Damage: </span><span class="${base.thunder_damage >= 0 ? 'positive' : 'negative'}">${base.thunder_damage}</span><br>` : ''}
                    ${base.water_damage ? `<span class="item-text water"><span>Water</span> Damage: </span><span class="${base.water_damage >= 0 ? 'positive' : 'negative'}">${base.water_damage}</span><br>` : ''}
                    <span class="item-text-dark">Average DPS: <span class="item-text">${base.average_dps}</span></span>
                ` : `
                    ${base.health ? `<span class="item-health">Health: <span class="${base.health >= 0 ? 'positive' : 'negative'}">${base.health} </span></span><br>` : ''}
                    ${base.fire_defence ? `<span class="item-text fire"><span>Fire</span> Defence: </span><span class="item-text ${base.fire_defence >= 0 ? 'positive' : 'negative'}">${base.fire_defence}</span><br>` : ''}
                    ${base.water_defence ? `<span class="item-text water"><span>Water</span> Defence: </span><span class="item-text ${base.water_defence >= 0 ? 'positive' : 'negative'}">${base.water_defence}</span><br>` : ''}
                    ${base.air_defence ? `<span class="item-text air"><span>Air</span> Defence: </span><span class="item-text ${base.air_defence >= 0 ? 'positive' : 'negative'}">${base.air_defence}</span><br>` : ''}
                    ${base.thunder_defence ? `<span class="item-text thunder"><span>Thunder</span> Defence: </span><span class="item-text ${base.thunder_defence >= 0 ? 'positive' : 'negative'}">${base.thunder_defence}</span><br>` : ''}
                    ${base.earth_defence ? `<span class="item-text earth"><span>Earth</span> Defence: </span><span class="item-text ${base.earth_defence >= 0 ? 'positive' : 'negative'}">${base.earth_defence}</span><br>` : ''}
                `}
            </div>
            <div class="item-infobox item-text">
                ${requirementsHTML}
            </div>
            <div class="item-infobox item-text">
                ${rawIdentificationsHTML}
            </div>
            <div class="item-infobox item-text">
                ${otherIdentificationsHTML}
            </div>
            ${item_type === 'accessory' ? `
            <div class="item-infobox ${rarity}">
                ${rarity} Item
            </div>
            ` : `
            <div class="item-infobox item-text">
                [0/${powder_slots}] Powder Slots
            </div>
            <div class="${rarity}">
                ${rarity} Item
            </div>
            `}
        `;

        tooltip.style.display = 'block';

        const tooltipRect = tooltip.getBoundingClientRect();
        const viewportHeight = window.innerHeight;
        const viewportWidth = window.innerWidth;

        let top = event.pageY - 100;
        let left = event.pageX + 25;

        if (top + tooltipRect.height > viewportHeight) {
            top = viewportHeight - tooltipRect.height - 10;
        }

        if (left + tooltipRect.width > viewportWidth) {
            left = viewportWidth - tooltipRect.width - 10;
        }

        tooltip.style.top = `${top}px`;
        tooltip.style.left = `${left}px`;

        document.addEventListener('click', hideTooltipOnClickOutside);
    }

    function hideTooltip() {
        const tooltip = document.getElementById('item-stats-tooltip');
        tooltip.style.display = 'none';
        document.removeEventListener('click', hideTooltipOnClickOutside);
    }

    function hideTooltipOnClickOutside(event) {
        const tooltip = document.getElementById('item-stats-tooltip');
        if (!tooltip.contains(event.target)) {
            hideTooltip();
        }
    }
</script>
{% endblock %}
