{% extends 'components/_base.html' %}
{% block title %}Price History{% endblock %}
{% block content %}

    <h1 class="pt-2 px-4">Price History</h1>

    <!-- Input field for the item name -->
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Item name" aria-describedby="searchBtn" id="itemSearch"
                   placeholder="Enter item name...">
            <button class="btn btn-primary" type="button" id="searchBtn">Search</button>
        </div>
    </div>

    <!-- Timeframe toggles -->
    <div class="row mb-3">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Timeframe toggles">
                <button type="button" class="btn btn-outline-primary" onclick="updateTimeframe(7)">Last 7 days</button>
                <button type="button" class="btn btn-outline-primary" onclick="updateTimeframe(14)">Last 14 days</button>
                <button type="button" class="btn btn-outline-primary" onclick="updateTimeframe(30)">Last Month</button>
                <button type="button" class="btn btn-outline-primary" onclick="updateTimeframe(90)">Last 3 Months</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="min-height: 28vh;">
            <canvas id="priceHistoryChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col" style="min-height: 28vh;">
            <canvas id="highestPriceChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col" style="min-height: 28vh;">
            <canvas id="saturationChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>* The data displayed on this page is always offset by 1 week. Live data can be viewed using in-game tooltips.</p>
        </div>
    </div>
    <!-- Add Chart.js and the date adapter -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>

    <script>
        let priceHistoryChart = null;
        let highestPriceChart = null;
        let saturationChart = null;
        // Default timeframe (in days)
        let currentTimeframe = 7;

        // Function to capitalize each word in the item name
        function capitalizeWords(str) {
            const smallWords = ['of'];
            return str
                .split(' ')
                .map((word, index) => {
                    if (index === 0 || !smallWords.includes(word.toLowerCase())) {
                        return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                    }
                    return word.toLowerCase();
                })
                .join(' ');
        }

        function convertEmeraldsToGameFormat(emeralds) {
            const stx = Math.floor(emeralds / (64 * 64 * 64));
            emeralds %= 64 * 64 * 64;
            const le = Math.floor(emeralds / (64 * 64));
            emeralds %= 64 * 64;
            const eb = Math.floor(emeralds / 64);
            const e = emeralds % 64;
            let result = '';
            if (stx > 0) {
                let decimalValue = le + eb / 64 + e / (64 * 64);
                decimalValue = Math.round(decimalValue * 100) / 100;
                const displayLE = Number.isInteger(decimalValue)
                    ? decimalValue.toString()
                    : decimalValue.toFixed(2);
                result = `${stx}stx`;
                if(displayLE !== "0") {
                    result += ` ${displayLE}le`;
                }
            } else {
                if (le > 0) result += `${le}le `;
                if (eb > 0) result += `${eb}eb `;
                if (e > 0)  result += `${e.toFixed(2)}e`;
            }
            return result.trim();
        }

        // Initialize empty charts
        function initializeEmptyCharts() {
            if (priceHistoryChart) priceHistoryChart.destroy();
            if (highestPriceChart) highestPriceChart.destroy();
            if (saturationChart) saturationChart.destroy();

            const emptyData = {
                labels: [],
                datasets: [{
                    label: 'No Data',
                    data: [],
                    borderColor: 'rgba(200, 200, 200, 1)',
                    fill: false,
                }]
            };

            // Chart options (shared)
            const chartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Price'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                const emeraldValue = tooltipItem.raw;
                                const gameFormat = convertEmeraldsToGameFormat(emeraldValue);
                                return `Price: ${emeraldValue}e (${gameFormat})`;
                            }
                        }
                    }
                }
            };

            const saturationChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Listings'
                        }
                    }
                }
            };

            const ctx = document.getElementById('priceHistoryChart').getContext('2d');
            priceHistoryChart = new Chart(ctx, {
                type: 'line',
                data: emptyData,
                options: chartOptions
            });

            const ctx2 = document.getElementById('highestPriceChart').getContext('2d');
            highestPriceChart = new Chart(ctx2, {
                type: 'line',
                data: emptyData,
                options: chartOptions
            });

            const ctx3 = document.getElementById('saturationChart').getContext('2d');
            saturationChart = new Chart(ctx3, {
                type: 'line',
                data: emptyData,
                options: saturationChartOptions
            });
        }

        // Fetch item-specific price data with the given timeframe (in days)
        async function fetchPriceData(itemName, days) {
            try {
                const response = await fetch(`/api/trademarket/history/${itemName}?days=${days}`);
                const data = await response.json();

                if (response.ok && data.length > 0) {
                    updateCharts(data);
                } else {
                    initializeEmptyCharts();
                }
            } catch (error) {
                console.error('Error fetching data:', error);
                initializeEmptyCharts();
            }
        }

        // Update charts with fetched data
        function updateCharts(priceData) {
            const labels = priceData.map(item => new Date(item.date));
            const averagePrices = priceData.map(item => item.average_price);
            const average80Prices = priceData.map(item => item.average_mid_80_percent_price);
            const unidentifiedAveragePrice = priceData.map(item => item.unidentified_average_price);
            const unidentifiedAverage80Prices = priceData.map(item => item.unidentified_average_mid_80_percent_price);
            const highestPrices = priceData.map(item => item.highest_price);
            const lowestPrices = priceData.map(item => item.lowest_price);
            const total_listings = priceData.map(item => item.total_count);
            const unid_listings = priceData.map(item => item.unidentified_count);

            if (priceHistoryChart) priceHistoryChart.destroy();
            if (highestPriceChart) highestPriceChart.destroy();
            if (saturationChart) saturationChart.destroy();

            // Price History Chart
            const ctx = document.getElementById('priceHistoryChart').getContext('2d');
            priceHistoryChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Average Price',
                            data: averagePrices,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            fill: false,
                            tension: 0.1
                        },
                        {
                            label: 'Average 80% Price',
                            data: average80Prices,
                            borderColor: 'rgba(53, 134, 134, 1)',
                            fill: false,
                            tension: 0.1
                        },
                        {
                            label: 'Unid Average Price',
                            data: unidentifiedAveragePrice,
                            borderColor: 'rgba(106, 93, 158, 1)',
                            fill: false,
                            tension: 0.1
                        },
                        {
                            label: 'Unid Average 80% Price',
                            data: unidentifiedAverage80Prices,
                            borderColor: 'rgba(69, 53, 134, 1)',
                            fill: false,
                            tension: 0.1
                        },
                        {
                            label: 'Lowest Price',
                            data: lowestPrices,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            fill: false,
                            tension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Price'
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    const emeraldValue = tooltipItem.raw;
                                    const gameFormat = convertEmeraldsToGameFormat(emeraldValue);
                                    return `Price: ${emeraldValue}e (${gameFormat})`;
                                }
                            }
                        }
                    }
                }
            });

            // Highest Price Chart
            const ctx2 = document.getElementById('highestPriceChart').getContext('2d');
            highestPriceChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Highest Price',
                        data: highestPrices,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false,
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Price'
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    const emeraldValue = tooltipItem.raw;
                                    const gameFormat = convertEmeraldsToGameFormat(emeraldValue);
                                    return `Price: ${emeraldValue}e (${gameFormat})`;
                                }
                            }
                        }
                    }
                }
            });

            // Saturation Chart
            const ctx3 = document.getElementById('saturationChart').getContext('2d');
            saturationChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Total Listings',
                            data: total_listings,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            fill: false,
                            tension: 0.1
                        },
                        {
                            label: 'Unidentified Listings',
                            data: unid_listings,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            fill: false,
                            tension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Listings'
                            }
                        }
                    }
                }
            });
        }

        // Search item by name and timeframe
        function handleSearch(itemName) {
            if (itemName && itemName !== 'None') {
                itemName = capitalizeWords(itemName);
                document.getElementById('itemSearch').value = itemName;
                history.pushState(null, '', `/history/${itemName}`);
                fetchPriceData(itemName, currentTimeframe);
            } else {
                initializeEmptyCharts();
            }
        }

        // Update timeframe toggle
        function updateTimeframe(days) {
            currentTimeframe = days;
            const itemName = document.getElementById('itemSearch').value.trim();
            if (itemName) {
                handleSearch(itemName);
            }
        }

        // Bind search button
        document.getElementById('searchBtn').addEventListener('click', function () {
            const itemName = document.getElementById('itemSearch').value.trim();
            handleSearch(itemName);
        });

        // Bind Enter key in the input
        document.getElementById('itemSearch').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                const itemName = document.getElementById('itemSearch').value.trim();
                handleSearch(itemName);
            }
        });

        // On window load, if there's an item in the URL, show its charts; also load the ranking table
        window.onload = function () {
            const itemName = '{{ item_name }}';
            if (itemName && itemName !== 'None') {
                const capitalizedItemName = capitalizeWords(itemName);
                document.getElementById('itemSearch').value = capitalizedItemName;
                handleSearch(capitalizedItemName);
            } else {
                initializeEmptyCharts();
            }
        };
    </script>
{% endblock %}
