{% extends 'components/_base.html' %}
{% block title %}Raidpool{% endblock %}
{% block content %}
    <h1 class="pt-2 px-4">Wynncraft Raidpool</h1>
    <div class="row px-4">
        <h4 id="time"></h4>
    </div>

    <!-- Side Menu Container -->
    <div id="filter-sidebar" class="collapsed">
        <!-- Filters Content -->
        <div class="side-menu-content">
            <!-- Search Input Field -->
            <div class="mb-3">
                <input type="text" id="searchInput" class="form-control mt-2" placeholder="Search items by name...">
            </div>

            <!-- Toggle Checkbox Buttons for Groups -->
            <div class="d-flex flex-wrap mb-3" role="group" aria-label="Group checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="Aspects" autocomplete="off" checked>
                <label class="btn btn-outline-primary me-2 mb-2" for="Aspects">Aspects</label>

                <input type="checkbox" class="btn-check" id="Tomes" autocomplete="off" checked>
                <label class="btn btn-outline-primary me-2 mb-2" for="Tomes">Tomes</label>

                <input type="checkbox" class="btn-check" id="Gear" autocomplete="off" checked>
                <label class="btn btn-outline-primary me-2 mb-2" for="Gear">Gear</label>

                <input type="checkbox" class="btn-check" id="Misc" autocomplete="off" checked>
                <label class="btn btn-outline-primary me-2 mb-2" for="Misc">Misc</label>
            </div>
        </div>
    </div>
    <button onclick="removeClass()" id="collapse-button" class="btn btn-outline-secondary mb-3"><</button>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-3">
        {% for region_data in loot_data %}
            <div class="col">
                <div class="card">
                    <div class="card-header" data-bs-toggle="collapse" href="#collapse-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                        <h2 class="h5">{{ region_data.region }}</h2>
                    </div>
                    <div id="collapse-{{ loop.index }}" class="collapse show card-body">
                        {% for item_group in region_data.group_items %}
                            <div class="item-group" data-group="{{ item_group.group }}">
                                <h3 class="h6 rarity-header">{{ item_group.group }}</h3>
                                <ul class="list-unstyled">
                                    {% for item in item_group.loot_items %}
                                        <li class="lootpool-card-item">
                                            {% if item.type is not none %}
                                                <span class="sprite bg-{{ item.type|lower }}"></span>
                                            {% endif %}
                                            {% if item.rarity == 'Common' and not item.type == "Tome" or item.type == 'CorkianAmplifier' %}
                                                <span class="{{ item.rarity }}" style="pointer-events: none;";>
                                                    <span class="amount">{{ item.amount }}</span> {{ item.name }}
                                                </span>
                                            {% else %}
                                                {% if item.itemType == 'AspectItem' %}
                                                <span class="{{ item.rarity }}" onclick="displayAspect(event, '{{ item.type | urlencode }}', '{{ item.name | urlencode }}')">{{ item.name }}</span>
                                                {% else %}
                                                <span class="{{ item.rarity }}" onclick="displayItem(event, '{{ item.name | urlencode }}')">{{ item.name }}</span>
                                                {% endif %} 
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Display the last updated time -->
                    <div class="card-footer">
                        <small>{{ region_data.last_updated }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="item-stats-tooltip" class="item-stats-tooltip"></div>

    <script>
        document.addEventListener('click', function (event) {
            let sideMenu = document.getElementById('filter-sidebar');
            if (!sideMenu.classList.contains('collapsed') && !sideMenu.contains(event.target) && !sideMenuToggle.contains(event.target)) {
                sideMenu.classList.add('collapsed');
            }
        });

        // Function to save checkbox state to localStorage
        function saveCheckboxState(checkbox) {
            localStorage.setItem(checkbox.id, checkbox.checked);
        }

        // Function to load checkbox state from localStorage
        function loadCheckboxState(checkbox) {
            const savedState = localStorage.getItem(checkbox.id);
            if (savedState !== null) {
                checkbox.checked = savedState === 'true'; // Restore saved state
            }
        }

        // Function to toggle groups based on checkbox state
        function toggleGroup(checkbox) {
            const groupName = checkbox.id;
            const groupElements = document.querySelectorAll(`.item-group[data-group="${groupName}"]`);
            groupElements.forEach(group => {
                if (checkbox.checked) {
                    group.style.display = '';
                } else {
                    group.style.display = 'none';
                }
            });
        }

        // Initialize checkboxes and add event listeners
        document.querySelectorAll('.btn-check').forEach(checkbox => {
            // Load the saved state when the page loads
            loadCheckboxState(checkbox);

            // Set initial visibility based on the checkbox state
            toggleGroup(checkbox);

            // Add event listener to toggle visibility and save state
            checkbox.addEventListener('change', function () {
                toggleGroup(this);
                saveCheckboxState(this);
            });
        });

        // Function to filter items based on search input
        function filterItems() {
            const searchValue = document.getElementById('searchInput').value.toLowerCase();
            const lootItems = document.querySelectorAll('.lootpool-card-item');

            lootItems.forEach(item => {
                const itemName = item.textContent.toLowerCase();
                if (itemName.includes(searchValue)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });

            // After filtering items, check each group to see if any items are visible
            const itemGroups = document.querySelectorAll('.item-group');
            itemGroups.forEach(group => {
                const visibleItems = group.querySelectorAll('.lootpool-card-item:not([style*="display: none"])');
                if (visibleItems.length === 0) {
                    group.style.display = 'none';
                } else {
                    // Also check if the group's checkbox is checked
                    const groupName = group.getAttribute('data-group');
                    const checkbox = document.getElementById(groupName);
                    if (!checkbox || (checkbox && checkbox.checked)) {
                        group.style.display = '';
                    } else {
                        group.style.display = 'none';
                    }
                }
            });
        }

        // Event listener for search input
        document.getElementById('searchInput').addEventListener('input', filterItems);

        // Initial filterItems call to set the initial state
        filterItems();
    </script>
{% endblock %}
